ComplementApp.API/Dtos/Xsd/tipoListaOrdenPagoPptal.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:siifepg="http://www.minhacienda.gov.co/mhcp/siifnacion/transferenciaxml/epg" targetNamespace="http://www.minhacienda.gov.co/mhcp/siifnacion/transferenciaxml/epg" version="0.8" id="idTipoConListaOrdenPagoPptal">
	<xsd:annotation>
		<xsd:documentation>Documento Esquema XML contenedor de la estructura de envío de información de Órdenes de Pago Presupuestales en estado PAGADAS y  filtradas por rubro presupuestal, desde SIIF Nación</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="ordenPagoPptal" type="siifepg:tipoOrdenPagoPptal">
		<xsd:annotation>
			<xsd:documentation>Elemento complejo que agrupa los elementos de salida de la consulta, con la información de órdenes de pago presupuestales, registradas en SIIF Nación, filtradas por rubro presupuestal</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="tipoOrdenPagoPptal">
		<xsd:annotation>
			<xsd:documentation>Tipo compuesto que contiene el detalle de información de Órdenes de Pago Presupuestales filtradas por rubro presupuestal </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="listaFiltroConsulta" type="siifepg:tipoListaFiltroConsulta">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo que agrupa el listado de los filtros de consulta.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="listaItemOrdenPagoPptal" type="siifepg:tipoListaItemOrdenPagoPptal" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo que contiene los ítems de órdenes de pago presupuestales, filtradas por rubro.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoDatosAdminSimple">
		<xsd:annotation>
			<xsd:documentation>Tipo Complejo que agrupa los datos administrativos resumen, que soportan una transacción en el sistema.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="fecha" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Fecha documento soporte</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codTipoDocSoporte" type="siifepg:tipoCadena50">
				<xsd:annotation>
					<xsd:documentation>Código del tipo de documento soporte.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomTipoDocSoporte" type="siifepg:tipoCadena150">
				<xsd:annotation>
					<xsd:documentation>Nombre del tipo de documento soporte.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="numDocSoporte" type="siifepg:tipoCadena50">
				<xsd:annotation>
					<xsd:documentation>Identificador del documento soporte - cadena de máximo 50 caracteres.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="notas" type="xsd:string" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Información que permite ampliar el detalle de los soportes.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoListaItemAfectacion">
		<xsd:annotation>
			<xsd:documentation>Tipo complejo que define una lista de ítems de afectación</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="itemAfectacion" type="siifepg:tipoItemAfectacion" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo que contiene el detalle de un ítem de afectación.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoListaItemOrdenPagoPptal">
		<xsd:annotation>
			<xsd:documentation>Tipo complejo que define una lista de  ítems de órdenes de pago presupuestales</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="itemOrdenPagoPptal" type="siifepg:tipoItemOrdenPagoPptal" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo que contiene el detalle de un ítem de órden de pago presupuestal</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoListaFiltroConsulta">
		<xsd:annotation>
			<xsd:documentation>Tipo complejo que define la lista de filtros de consulta para obligaciones presupuestales</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="codPCI" type="siifepg:tipoCodPCI">
				<xsd:annotation>
					<xsd:documentation>Código de la PCI que solicita la ejecución de la consulta.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codPCIConsulta" type="siifepg:tipoCadena250">
				<xsd:annotation>
					<xsd:documentation>Códigos de las PCI consultadas.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="area" type="siifepg:tipoCadena20" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Area, Dirección o sección dentro de la organización que requiere el archivo XML.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codTipoVigencia" type="siifepg:enumCodTipoVigencia">
				<xsd:annotation>
					<xsd:documentation>Tipo de vigencia presupuestal</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codPosicionGasto" type="siifepg:tipoCadena250">
				<xsd:annotation>
					<xsd:documentation>Código de la Posición o posiciones de gasto consultadas</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fechaInicio" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Fecha de inicio de la consulta.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fechaFin" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Fecha final de la consulta.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoItemAfectacion">
		<xsd:annotation>
			<xsd:documentation>Tipo compuesto que contiene la estructura de un ítem de afectación de la obligación</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="codDepAfectacion" type="siifepg:tipoCadena20">
				<xsd:annotation>
					<xsd:documentation>Código de la Depencia de Afectación.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomDepAfectacion" type="siifepg:tipoCadena100">
				<xsd:annotation>
					<xsd:documentation>Nombre de la Dependencia de Afectación.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codPosicionGasto" type="siifepg:tipoCodPosGasto">
				<xsd:annotation>
					<xsd:documentation>Código de la Posición de Gasto.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomPosicionGasto" type="siifepg:tipoCadena250">
				<xsd:annotation>
					<xsd:documentation>Nombre de la Posición de Gasto. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codFuenteFinanciacion" type="siifepg:tipoNumCadena2">
				<xsd:annotation>
					<xsd:documentation>Código de la Fuente de Financiación.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomFuenteFinanciacion" type="siifepg:enumFuenteFinanciacion">
				<xsd:annotation>
					<xsd:documentation>Nombre de la Fuenta de Financiación. NACION - PROPIOS. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codRecursoPptal" type="siifepg:tipoNumCadena2">
				<xsd:annotation>
					<xsd:documentation>Código del Recurso Presupuestal.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomRecursoPptal" type="siifepg:tipoCadena100">
				<xsd:annotation>
					<xsd:documentation>Nombre del Recurso Presupuestal.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codSituacionFondos" type="siifepg:tipoNumCadena2">
				<xsd:annotation>
					<xsd:documentation>Código de la Situación de Fondos.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomSituacionFondos" type="siifepg:enumSituacionFondos">
				<xsd:annotation>
					<xsd:documentation>Nombre de la Situación de Fondos (CSF o SSF).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorBruto" type="siifepg:tipoCantidadMonetaria">
				<xsd:annotation>
					<xsd:documentation>Valor bruto.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorNeto" type="siifepg:tipoCantidadMonetaria">
				<xsd:annotation>
					<xsd:documentation>Valor neto.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorReintegrado" type="siifepg:tipoCantidadMonetaria">
				<xsd:annotation>
					<xsd:documentation>Valor reintegrado.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoItemOrdenPagoPptal">
		<xsd:annotation>
			<xsd:documentation>Tipo compuesto que contiene la estructura de un ítem de Orden de Pago Presupuestal</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="codPCI" type="siifepg:tipoCodPCI">
				<xsd:annotation>
					<xsd:documentation>Código de la unidad/subunidad ejecutora.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomPCI" type="siifepg:tipoCadena250">
				<xsd:annotation>
					<xsd:documentation>Nombre de la unidad/subnidad ejecutora.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codOrdenPagoPptal" type="siifepg:tipoNumDocSIIF">
				<xsd:annotation>
					<xsd:documentation>Código que identifica la Orden de Pago presupuestal</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorBruto" type="siifepg:tipoCantidadMonetaria">
				<xsd:annotation>
					<xsd:documentation>Valor bruto de la orden de pago.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorNeto" type="siifepg:tipoCantidadMonetaria">
				<xsd:annotation>
					<xsd:documentation>Valor neto de la orden de pago.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fechaPago" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Fecha de pago de la orden de pago</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codTesoreria" type="siifepg:tipoCodPCI">
				<xsd:annotation>
					<xsd:documentation>Código de la tesorería</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codObligacion" type="siifepg:tipoNumDocSIIF">
				<xsd:annotation>
					<xsd:documentation>Código que identifica la Obligación Presupuestal relacionada.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fechaObligacion" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Fecha de registro de la obligación.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorInicialOblig" type="siifepg:tipoCantidadMonetaria">
				<xsd:annotation>
					<xsd:documentation>Valor inicial de la obligación.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorActualOblig" type="siifepg:tipoCantidadMonetaria">
				<xsd:annotation>
					<xsd:documentation>Valor actual de la obligación.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codCompromiso" type="siifepg:tipoNumDocSIIF">
				<xsd:annotation>
					<xsd:documentation>Código que identifica el Compromiso Presupuestal relacionado.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fechaCompromiso" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Fecha de registro del compromiso.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="objetoCompromiso" type="siifepg:tipoCadena200">
				<xsd:annotation>
					<xsd:documentation>Objeto del compromiso</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorInicialComp" type="siifepg:tipoCantidadMonetaria">
				<xsd:annotation>
					<xsd:documentation>Valor inicial del compromiso.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorActualComp" type="siifepg:tipoCantidadMonetaria">
				<xsd:annotation>
					<xsd:documentation>Valor actual del compromiso.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codCDP" type="siifepg:tipoNumDocSIIF">
				<xsd:annotation>
					<xsd:documentation>Código que identifica el Certificado de Disponibilidad Presupuestal relacionado.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fechaCDP" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Fecha de registro del CDP.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorInicialCDP" type="siifepg:tipoCantidadMonetaria">
				<xsd:annotation>
					<xsd:documentation>Valor inicial del CDP.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorActualCDP" type="siifepg:tipoCantidadMonetaria">
				<xsd:annotation>
					<xsd:documentation>Valor actual del CDP.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codTipoVigencia" type="siifepg:enumCodTipoVigencia">
				<xsd:annotation>
					<xsd:documentation>Tipo de vigencia presupuestal de la obligación</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codTipoBeneficiario" type="siifepg:enumTipoBeneficiario">
				<xsd:annotation>
					<xsd:documentation>Tipo de beneficario</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="terceroBeneficiario" type="siifepg:tipoTerceroBasico">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo contenedor de la información del Tercero Beneficiario registrado en la Obligación</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="listaItemAfectacion" type="siifepg:tipoListaItemAfectacion">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo contenedor de los ítems de afectación.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorReintegrado" type="siifepg:tipoCantidadMonetaria">
				<xsd:annotation>
					<xsd:documentation>Valor reintegrado.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="endoso" type="siifepg:enumSINO">
				<xsd:annotation>
					<xsd:documentation>Elemento que indica si la orden de pago es o no endosada.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="terceroBeneficiarioPago" type="siifepg:tipoTerceroBasico">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo contenedor de la información del Tercero Beneficiario que recibió el Pago</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="datosAdminCompromiso" type="siifepg:tipoDatosAdminSimple">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo contenedor de los datos administrativos asociados con el compromiso prespuestal</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoTerceroBasico">
		<xsd:annotation>
			<xsd:documentation>Conjunto de datos que agrupa la información de identificación de un Tercero Básico, obtenida en una consulta </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="nomTercero" type="siifepg:tipoCadena200">
				<xsd:annotation>
					<xsd:documentation>Nombre completo del tercero, nombres y apellidos o razón social según corresponda</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codNaturaleza" type="siifepg:tipoNumCadena2">
				<xsd:annotation>
					<xsd:documentation>Código que identifica la Naturaleza Jurídica del Tercero. Ej: 01 Persona Jurídica Nacional, 02 Persona Jurídica Extranjera, 03 Persona Natural Nacional, 04 Persona Natural Extranjera, 05 Consorcio, 06 Unión Temporal</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomNaturaleza" type="siifepg:tipoCadena150">
				<xsd:annotation>
					<xsd:documentation>Nombre de la Naturaleza jurídica del tercero. Ej: Persona Jurídica Nacional, Persona Jurídica Extranjera, Persona Natural Nacional, Persona Natural Extranjera, Consorcio, Unión Temporal</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codTipoDocumento" type="siifepg:tipoNumCadena2">
				<xsd:annotation>
					<xsd:documentation>Código del tipo de documento de identificación del tercero. Ej: 01 NIT, 02 Otro, 03 Cédula de Ciudadanía, 04 Registro Civil, 05	Tarjeta de Identidad, 06 Pasaporte, 07	Cédula de Extranjería</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomTipoDocumento" type="siifepg:tipoCadena150">
				<xsd:annotation>
					<xsd:documentation>Nombre del tipo de documento de identificación del tercero. Ej: NIT, Otro, Cédula de Ciudadanía, Registro Civil, Tarjeta de Identidad, Pasaporte, Cédula de Extranjería</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="numDocIdentidad" type="siifepg:tipoCadena50">
				<xsd:annotation>
					<xsd:documentation>Número del documento de identificación del tercero. En caso de que el tipo de documento sea NIT, el número llevará el dígito de verificación</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="enumCodTipoVigencia">
		<xsd:annotation>
			<xsd:documentation>Códigos que identifican los Tipos de Vigencias Presupuestales</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ACTUAL">
				<xsd:annotation>
					<xsd:documentation>Actual</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="RESERVAS_PRESUPUESTALES">
				<xsd:annotation>
					<xsd:documentation>Reservas Prespuestales</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CUENTAS_POR_PAGAR">
				<xsd:annotation>
					<xsd:documentation>Cuentas por Pagar</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TODAS">
				<xsd:annotation>
					<xsd:documentation>Todas las vigencias</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="enumSINO">
		<xsd:annotation>
			<xsd:documentation>Opciones SI o NO</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SI">
				<xsd:annotation>
					<xsd:documentation>Respuesta positiva</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NO">
				<xsd:annotation>
					<xsd:documentation>Respuesta Negativa</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="enumTipoBeneficiario">
		<xsd:annotation>
			<xsd:documentation>Código que identifica el tipo de beneficiario. El cual puede ser:
Beneficiario final = BENEFICIARIO_FINAL
Traspaso a pagaduría = TRASPASO_PAGADURIA</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="BENEFICIARIO_FINAL">
				<xsd:annotation>
					<xsd:documentation>Beneficiario final</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TRASPASO_PAGADURIA">
				<xsd:annotation>
					<xsd:documentation>Traspaso a pagaduría</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="enumFuenteFinanciacion">
		<xsd:annotation>
			<xsd:documentation>Fuentes de Financiación</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="NACION">
				<xsd:annotation>
					<xsd:documentation>Nación</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PROPIOS">
				<xsd:annotation>
					<xsd:documentation>Propios</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="enumSituacionFondos">
		<xsd:annotation>
			<xsd:documentation>Tipos de Situación de Fondos</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CSF">
				<xsd:annotation>
					<xsd:documentation>Con Situación de Fondos</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SSF">
				<xsd:annotation>
					<xsd:documentation>Sin Situación de Fondos</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="enumTipoGasto">
		<xsd:annotation>
			<xsd:documentation>Tipo simple para representar el Tipo de Gasto</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="A">
				<xsd:annotation>
					<xsd:documentation>Funcionamiento</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="B">
				<xsd:annotation>
					<xsd:documentation>Servicio a la Deuda</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="C">
				<xsd:annotation>
					<xsd:documentation>Inversión</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoNumCadena2">
		<xsd:annotation>
			<xsd:documentation>Extensión de la definición del tipo básico string de la recomendación W3C XML Schema para la longitud máxima de 2 caracteres sólo numéricos</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="2"/>
			<xsd:pattern value="[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoNumMax20">
		<xsd:annotation>
			<xsd:documentation>Tipo simple que define el formato 20 dígitos máximo </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{1,20}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCadena20">
		<xsd:annotation>
			<xsd:documentation>Tipo simple cadena de 20 caracteres máximo</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="20"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCadena30">
		<xsd:annotation>
			<xsd:documentation>Extensión de la definición del tipo básico string de la recomendación W3C XML Schema para la longitud máxima de 30 caracteres</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCadena50">
		<xsd:annotation>
			<xsd:documentation>Extensión de la definición del tipo básico string de la recomendación W3C XML Schema para la longitud máxima de 50 caracteres</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCadena100">
		<xsd:annotation>
			<xsd:documentation>Extensión de la definición del tipo básico string de la recomendación W3C XML Schema para la longitud máxima de 100 caracteres</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCadena150">
		<xsd:annotation>
			<xsd:documentation>Extensión de la definición del tipo básico string de la recomendación W3C XML Schema para la longitud máxima de 150 caracteres</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="150"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCadena200">
		<xsd:annotation>
			<xsd:documentation>Tipo simple cadena de 200 caracteres máximo</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="200"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCadena250">
		<xsd:annotation>
			<xsd:documentation>Tipo simple cadena de 250 caracteres máximo</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="250"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCantidadMonetaria">
		<xsd:annotation>
			<xsd:documentation>Tipo simple que contiene las restricciones necesarias para los valores monetarios. El signo de separación de la parte decimal es punto(.)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="20"/>
			<xsd:maxInclusive value="999999999999999999.99"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCodPCI">
		<xsd:annotation>
			<xsd:documentation>Código de una unidad o subunidad ejecutora del Presupuesto General de la Nación desde nivel 3 hasta el nivel 5 del clasificador Institucional de SIIF Nación</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="([0-9]{2})+((\-[0-9]{2}){2,3}|(\-[0-9]{2}){2,3}(\-[0-9A-Za-z]{1,6}){1,2})"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCodPosGasto">
		<xsd:annotation>
			<xsd:documentation>Tipo simple que contiene las restricciones necesarias para las posiciones de gasto</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-C]+(\-[0-9]{1,4}){1,6}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoNumDocSIIF">
		<xsd:annotation>
			<xsd:documentation>Representa un entero largo (BigInt) con restricción de positivo. Se usa para identificaciones de documentos SIIF, que son enteros positivos largos</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:long">
			<xsd:minExclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
