ComplementApp.API/Dtos/Xsd/tipoListaOrdenPagoSGP.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:siifpag="http://www.minhacienda.gov.co/mhcp/siifnacion/transferenciaxml/pag" targetNamespace="http://www.minhacienda.gov.co/mhcp/siifnacion/transferenciaxml/pag" version="1.5" id="idTipoConListaOrdenPagoSGP">
	<xsd:annotation>
		<xsd:documentation>Documento XML esquema contenedor de la estructura de envío de información de Ordenes de Pago filtradas por rubro Sistema General de Participaciones, desde SIIF Nación</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="ordenPagoSGP" type="siifpag:tipoOrdenPagoSGP">
		<xsd:annotation>
			<xsd:documentation>Elemento complejo que agrupa los elementos de salida de la consulta, con la información de órdenes de pago del Sistema General de Participaciones, registradas en SIIF Nación.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="tipoOrdenPagoSGP">
		<xsd:annotation>
			<xsd:documentation>Tipo compuesto que contiene el detalle de información de Ordenes de Pago Presupuestales filtradas por el rubro de Sistema General de Participaciones</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="listaFiltroConsulta" type="siifpag:tipoListaFiltroConsulta">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo que agrupa el listado de los filtros de consulta.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="listaItemOrdenPagoSGP" type="siifpag:tipoListaItemOrdenPagoSGP" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo que contiene los ítems de órdenes de pago presupuestales, filtradas por rubro Sistema General de Participaciones.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoListaItemAfectacion">
		<xsd:annotation>
			<xsd:documentation>Tipo complejo que define una lista de ítems de afectación de la obligación</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="itemAfectacion" type="siifpag:tipoItemAfectacion" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo que contiene el detalle de un ítem de afectación.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoListaItemDeduccion">
		<xsd:annotation>
			<xsd:documentation>Tipo complejo que define una lista de ítems de deducciones</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="itemDeduccion" type="siifpag:tipoItemDeduccion" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo que contiene el detalle de un ítem de deducciones.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoListaItemOrdenPagoSGP">
		<xsd:annotation>
			<xsd:documentation>Tipo complejo que define una lista de  ítems de órdenes de pago presupuestales</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="itemOrdenPagoSGP" type="siifpag:tipoItemOrdenPagoSGP" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo que contiene el detalle de un ítem de órden de pago presupuestal</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoListaFiltroConsulta">
		<xsd:annotation>
			<xsd:documentation>Tipo complejo que define la lista de filtros de consulta para obligaciones presupuestales</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="codPCI" type="siifpag:tipoCodPCI">
				<xsd:annotation>
					<xsd:documentation>Código de la PCI que solicita la ejecución de la consulta.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codPCIConsulta" type="siifpag:tipoCadena250">
				<xsd:annotation>
					<xsd:documentation>Códigos de las PCI consultadas.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="area" type="siifpag:tipoCadena20" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Area, Dirección o sección dentro de la organización que requiere el archivo XML.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fechaInicio" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Fecha de inicio de la consulta.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fechaFin" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Fecha final de la consulta.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoItemAfectacion">
		<xsd:annotation>
			<xsd:documentation>Tipo compuesto que contiene la estructura de un ítem de afectación de la obligación</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="codDepAfectacion" type="siifpag:tipoCadena20">
				<xsd:annotation>
					<xsd:documentation>Código de la Depencia de Afectación.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomDepAfectacion" type="siifpag:tipoCadena100">
				<xsd:annotation>
					<xsd:documentation>Nombre de la Dependencia de Afectación.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codPosicionGasto" type="siifpag:tipoCodPosGasto">
				<xsd:annotation>
					<xsd:documentation>Código de la Posición de Gasto.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomPosicionGasto" type="siifpag:tipoCadena250">
				<xsd:annotation>
					<xsd:documentation>Nombre de la Posición de Gasto. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codFuenteFinanciacion" type="siifpag:tipoNumCadena2">
				<xsd:annotation>
					<xsd:documentation>Código de la Fuente de Financiación.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomFuenteFinanciacion" type="siifpag:enumFuenteFinanciacion">
				<xsd:annotation>
					<xsd:documentation>Nombre de la Fuenta de Financiación. NACION - PROPIOS. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codRecursoPptal" type="siifpag:tipoNumCadena2">
				<xsd:annotation>
					<xsd:documentation>Código del Recurso Presupuestal.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomRecursoPptal" type="siifpag:tipoCadena100">
				<xsd:annotation>
					<xsd:documentation>Nombre del Recurso Presupuestal.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codSituacionFondos" type="siifpag:tipoNumCadena2">
				<xsd:annotation>
					<xsd:documentation>Código de la Situación de Fondos.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomSituacionFondos" type="siifpag:enumSituacionFondos">
				<xsd:annotation>
					<xsd:documentation>Nombre de la Situación de Fondos (CSF o SSF).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorInicial" type="siifpag:tipoCantidadMonetaria">
				<xsd:annotation>
					<xsd:documentation>Valor inicial.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorOperaciones" type="siifpag:tipoCantidadMonetaria">
				<xsd:annotation>
					<xsd:documentation>Valor operaciones.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorActual" type="siifpag:tipoCantidadMonetaria">
				<xsd:annotation>
					<xsd:documentation>Valor actual.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="saldoUtilizar" type="siifpag:tipoCantidadMonetaria">
				<xsd:annotation>
					<xsd:documentation>Saldo por utilizar.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoItemDeduccion">
		<xsd:annotation>
			<xsd:documentation>Tipo compuesto que contiene la estructura de un ítem de deducciones</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="codPosPagoNoPptal" type="siifpag:tipoCodPosPagoNoPptal">
				<xsd:annotation>
					<xsd:documentation>Código de la Posición del Catálogo para Pago No Presupuestal.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomPosPagoNoPptal" type="siifpag:tipoCadena100">
				<xsd:annotation>
					<xsd:documentation>Nombre de la Posición del Catálogo para Pago No Presupuestal.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="terceroBeneficiario" type="siifpag:tipoTerceroBasico">
				<xsd:annotation>
					<xsd:documentation>Elemento Complejo contenedor de la información del Tercero Beneficiario.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorDeducir" type="siifpag:tipoCantidadMonetaria">
				<xsd:annotation>
					<xsd:documentation>Valor a deducir.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoItemOrdenPagoSGP">
		<xsd:annotation>
			<xsd:documentation>Tipo compuesto que contiene la estructura de un ítem de Orden de Pago Presupuestal</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="codPCI" type="siifpag:tipoCodPCI">
				<xsd:annotation>
					<xsd:documentation>Código de la unidad/subunidad ejecutora.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomPCI" type="siifpag:tipoCadena250">
				<xsd:annotation>
					<xsd:documentation>Nombre de la unidad/subnidad ejecutora.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codOrdenPagoPptal" type="siifpag:tipoNumDocSIIF">
				<xsd:annotation>
					<xsd:documentation>Código que identifica la Orden de Pago presupuestal</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="estado" type="siifpag:tipoCadena20">
				<xsd:annotation>
					<xsd:documentation>Estado en el que se encuentra  la orden de pago</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fechaRegistro" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Fecha de registro de la orden de pago.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fechaPago" type="xsd:date" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Fecha en la que se realizó el pago de la Orden de Pago. Este elemento puede ir vacio.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="terceroBeneficiario" type="siifpag:tipoTerceroBasico">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo contenedor de la información del Tercero Beneficiario.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="cuentaBancaria" type="siifpag:tipoCuentaBancaria" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo contenedor de la información de la Cuenta Bancaria del Beneficiario.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codConsolidacion" type="siifpag:tipoNumDocSIIF" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Código de consolidación contable asociado al tercero beneficiario del pago. Este elemento puede ir vacio.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomConsolidacion" type="siifpag:tipoCadena100" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Descripción del código de consolidación contable asociado al tercero beneficiario del pago. Este elemento puede ir vacio.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codPosicionGasto" type="siifpag:tipoCodPosGasto">
				<xsd:annotation>
					<xsd:documentation>Código de la Posición de Gasto</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomPosicionGasto" type="siifpag:tipoCadena250">
				<xsd:annotation>
					<xsd:documentation>Nombre de la Posición de Gasto</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codObligacion" type="siifpag:tipoNumDocSIIF">
				<xsd:annotation>
					<xsd:documentation>Código que identifica la Obligación Presupuestal relacionada.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fechaObligacion" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Fecha de registro de la obligación.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codCompromiso" type="siifpag:tipoNumDocSIIF">
				<xsd:annotation>
					<xsd:documentation>Código que identifica el Compromiso Presupuestal relacionado.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fechaCompromiso" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Fecha de registro del compromiso.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codCDP" type="siifpag:tipoNumDocSIIF">
				<xsd:annotation>
					<xsd:documentation>Código que identifica el Certificado de Disponibilidad Presupuestal relacionado.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codTipoVigencia" type="siifpag:enumCodTipoVigencia">
				<xsd:annotation>
					<xsd:documentation>Tipo de vigencia presupuestal</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codTipoRegCompromiso" type="siifpag:enumCodTipoRegCompromiso">
				<xsd:annotation>
					<xsd:documentation>Tipo de proceso realizado en el SIIF para registro del compromiso:MANUAL, MASIVO</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codDocMasivo" type="siifpag:tipoNumDocSIIF" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Número del documento masivo, cuando el proceso de registro del compromiso es por este tipo.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorNeto" type="siifpag:tipoCantidadMonetaria">
				<xsd:annotation>
					<xsd:documentation>Valor neto de la orden de pago.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorBruto" type="siifpag:tipoCantidadMonetaria">
				<xsd:annotation>
					<xsd:documentation>Valor bruto de la orden de pago.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorDeducciones" type="siifpag:tipoCantidadMonetaria">
				<xsd:annotation>
					<xsd:documentation>Valor total de las deducciones aplicadas a la orden de pago.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="listaItemDeduccion" type="siifpag:tipoListaItemDeduccion" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo contenedor de los ítems de deducciones que aplican.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fechaNoExitoso" type="xsd:date" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Fecha de registro no exitoso.  Este elemento puede ir vacío.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codCausalNoExitoso" type="siifpag:tipoCadena20" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Código de la causal de pago no exitoso. Este elemento puede ir vacío.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomCausalNoExitoso" type="siifpag:tipoCadena150" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Nombre, descripción de la causal de pago no exitoso. Este elemento puede ir vacío.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="notas" type="siifpag:tipoCadena250" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Descripción del concepto del pago diligenciado al momento de generar la orden de pago.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoMedioPago">
		<xsd:annotation>
			<xsd:documentation>Tipo complejo contendedor de la estructura de información del Medio de Pago</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="codMedioPago" type="siifpag:enumTipoMedioPago">
				<xsd:annotation>
					<xsd:documentation>Código de Identificación del Medio de Pago.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomMedioPago" type="siifpag:tipoCadena20">
				<xsd:annotation>
					<xsd:documentation>Nombre del Medio de Pago.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="cuentaBancaria" type="siifpag:tipoCuentaBancaria" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo contenedor de la información de la Cuenta Bancaria. Elemento opcional, debe enviarse cuando el código del Medio de Pago es AC (Abono en Cuenta)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoTerceroBasico">
		<xsd:annotation>
			<xsd:documentation>Conjunto de datos que agrupa la información de identificación de un Tercero Básico, obtenida en una consulta </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="nomTercero" type="siifpag:tipoCadena200">
				<xsd:annotation>
					<xsd:documentation>Nombre completo del tercero, nombres y apellidos o razón social según corresponda</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codNaturaleza" type="siifpag:tipoNumCadena2">
				<xsd:annotation>
					<xsd:documentation>Código que identifica la Naturaleza Jurídica del Tercero. Ej: 01 Persona Jurídica Nacional, 02 Persona Jurídica Extranjera, 03 Persona Natural Nacional, 04 Persona Natural Extranjera, 05 Consorcio, 06 Unión Temporal</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomNaturaleza" type="siifpag:tipoCadena150">
				<xsd:annotation>
					<xsd:documentation>Nombre de la Naturaleza jurídica del tercero. Ej: Persona Jurídica Nacional, Persona Jurídica Extranjera, Persona Natural Nacional, Persona Natural Extranjera, Consorcio, Unión Temporal</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codTipoDocumento" type="siifpag:tipoNumCadena2">
				<xsd:annotation>
					<xsd:documentation>Código del tipo de documento de identificación del tercero. Ej: 01 NIT, 02 Otro, 03 Cédula de Ciudadanía, 04 Registro Civil, 05	Tarjeta de Identidad, 06 Pasaporte, 07	Cédula de Extranjería</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomTipoDocumento" type="siifpag:tipoCadena150">
				<xsd:annotation>
					<xsd:documentation>Nombre del tipo de documento de identificación del tercero. Ej: NIT, Otro, Cédula de Ciudadanía, Registro Civil, Tarjeta de Identidad, Pasaporte, Cédula de Extranjería</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="numDocIdentidad" type="siifpag:tipoCadena50">
				<xsd:annotation>
					<xsd:documentation>Número del documento de identificación del tercero.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="digVerificacion" type="siifpag:tipoNumMax1" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Dígito de Verificación del Tercero. Se envía con datos solamente en el caso que el tipo de documento sea NIT</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoCuentaBancaria">
		<xsd:annotation>
			<xsd:documentation>Conjunto de datos que agrupa la información cuenta bancaria de un tercero</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="codTipoCuenta" type="siifpag:enumTipoCuentaBancaria">
				<xsd:annotation>
					<xsd:documentation>Código del tipo de cuenta bancaria</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="numCuenta" type="siifpag:tipoCadena30">
				<xsd:annotation>
					<xsd:documentation>Número de cuenta Bancaria</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nombreEntidad" type="siifpag:tipoCadena150">
				<xsd:annotation>
					<xsd:documentation>Nombre de la Entidad Financiera</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nitEntidad" type="siifpag:tipoNit">
				<xsd:annotation>
					<xsd:documentation>NIT de la Entidad Financiera</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="digVerifEntidad" type="siifpag:tipoNumMax1">
				<xsd:annotation>
					<xsd:documentation>Dígito de Verificación de la Entidad</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="enumCodTipoRegCompromiso">
		<xsd:annotation>
			<xsd:documentation>Códigos que identifican los Tipos de Registro de un Compromiso, en el sistema.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="MANUAL">
				<xsd:annotation>
					<xsd:documentation>Manual</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MASIVO">
				<xsd:annotation>
					<xsd:documentation>Masivo</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="enumCodTipoVigencia">
		<xsd:annotation>
			<xsd:documentation>Códigos que identifican los Tipos de Vigencias Presupuestales</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ACTUAL">
				<xsd:annotation>
					<xsd:documentation>Actual</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="RESERVAS_PRESUPUESTALES">
				<xsd:annotation>
					<xsd:documentation>Reservas</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CUENTAS_POR_PAGAR">
				<xsd:annotation>
					<xsd:documentation>Cuentas por pagar</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="enumFuenteFinanciacion">
		<xsd:annotation>
			<xsd:documentation>Fuentes de Financiación</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="NACION">
				<xsd:annotation>
					<xsd:documentation>Nación</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PROPIOS">
				<xsd:annotation>
					<xsd:documentation>Propios</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="enumTipoCuentaBancaria">
		<xsd:annotation>
			<xsd:documentation>Tipos de cuenta bancaria</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="AHR">
				<xsd:annotation>
					<xsd:documentation>Cuenta de Ahorros</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CRR">
				<xsd:annotation>
					<xsd:documentation>Cuenta Corriente</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DEL">
				<xsd:annotation>
					<xsd:documentation>Depósito Electrónico</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="enumTipoMedioPago">
		<xsd:annotation>
			<xsd:documentation>Tipos de medio de pago</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="AC">
				<xsd:annotation>
					<xsd:documentation>Abono en Cuenta</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CH">
				<xsd:annotation>
					<xsd:documentation>Cheque</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="GR">
				<xsd:annotation>
					<xsd:documentation>Giro</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TT">
				<xsd:annotation>
					<xsd:documentation>Títulos</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="enumSituacionFondos">
		<xsd:annotation>
			<xsd:documentation>Tipos de Situación de Fondos</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CSF">
				<xsd:annotation>
					<xsd:documentation>Con Situación de Fondos</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SSF">
				<xsd:annotation>
					<xsd:documentation>Sin Situación de Fondos</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="enumTipoGasto">
		<xsd:annotation>
			<xsd:documentation>Tipo simple para representar el Tipo de Gasto</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="A">
				<xsd:annotation>
					<xsd:documentation>Funcionamiento</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="B">
				<xsd:annotation>
					<xsd:documentation>Servicio a la Deuda</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="C">
				<xsd:annotation>
					<xsd:documentation>Inversión</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoNumMax1">
		<xsd:annotation>
			<xsd:documentation>Extensión de la definición del tipo básico string de la recomendación W3C XML Schema para la longitud máxima de 1 caracter, sólo numérico</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{1}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoNumCadena2">
		<xsd:annotation>
			<xsd:documentation>Extensión de la definición del tipo básico string de la recomendación W3C XML Schema para la longitud máxima de 2 caracteres sólo numéricos</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="2"/>
			<xsd:pattern value="[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoNumMax20">
		<xsd:annotation>
			<xsd:documentation>Tipo simple que define el formato 20 dígitos máximo </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{1,20}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCadena20">
		<xsd:annotation>
			<xsd:documentation>Tipo simple cadena de 20 caracteres máximo</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="20"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCadena30">
		<xsd:annotation>
			<xsd:documentation>Extensión de la definición del tipo básico string de la recomendación W3C XML Schema para la longitud máxima de 30 caracteres</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCadena50">
		<xsd:annotation>
			<xsd:documentation>Extensión de la definición del tipo básico string de la recomendación W3C XML Schema para la longitud máxima de 50 caracteres</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCadena100">
		<xsd:annotation>
			<xsd:documentation>Extensión de la definición del tipo básico string de la recomendación W3C XML Schema para la longitud máxima de 100 caracteres</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCadena150">
		<xsd:annotation>
			<xsd:documentation>Extensión de la definición del tipo básico string de la recomendación W3C XML Schema para la longitud máxima de 150 caracteres</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="150"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCadena200">
		<xsd:annotation>
			<xsd:documentation>Tipo simple cadena de 200 caracteres máximo</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="200"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCadena250">
		<xsd:annotation>
			<xsd:documentation>Tipo simple cadena de 250 caracteres máximo</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="250"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCodPCI">
		<xsd:annotation>
			<xsd:documentation>Código de una unidad o subunidad ejecutora del Presupuesto General de la Nación desde nivel 3 hasta el nivel 5 del clasificador Institucional de SIIF Nación</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="([0-9]{2})+((\-[0-9]{2}){2,3}|(\-[0-9]{2}){2,3}(\-[0-9A-Za-z]{1,6}){1,2})"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCantidadMonetaria">
		<xsd:annotation>
			<xsd:documentation>Tipo simple que contiene las restricciones necesarias para los valores monetarios. El signo de separación de la parte decimal es punto(.)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="20"/>
			<xsd:maxInclusive value="999999999999999999.99"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCodPosGasto">
		<xsd:annotation>
			<xsd:documentation>Tipo simple que contiene las restricciones necesarias para las posiciones de gasto</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-C]+(\-[0-9]{1,8}){1,6}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCodPosPagoNoPptal">
		<xsd:annotation>
			<xsd:documentation>Tipo simple que contiene las restricciones necesarias para las posiciones de pagos no presupuestales</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[1-2]+(\-[0-9]{1,2}){1,6}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoNit">
		<xsd:annotation>
			<xsd:documentation>Tipo simple que define el formato para Nit: Máx 11 digitos</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{8,11}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoNumDocSIIF">
		<xsd:annotation>
			<xsd:documentation>Representa un entero largo (BigInt) con restricción de positivo. Se usa para identificaciones de documentos SIIF, que son enteros positivos largos</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:long">
			<xsd:minExclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
