ComplementApp.API/Dtos/Xsd/tipoListaCDP_VERSION.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSpy v2017 rel. 3 sp1 (http://www.altova.com) by FGUTIERR (Ministerio de Hacienda y Crédito Público) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:siifepg="http://www.minhacienda.gov.co/mhcp/siifnacion/transferenciaxml/epg" targetNamespace="http://www.minhacienda.gov.co/mhcp/siifnacion/transferenciaxml/epg" version="0.2" id="idTipoConCDP">
	<xsd:annotation>
		<xsd:documentation>Documento XML esquema contenedor de la estructura de envío de información de CDP's, desde SIIF Nación</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="cdp" type="siifepg:tipoCDP">
		<xsd:annotation>
			<xsd:documentation>Elemento complejo que agrupa los elementos de salida de la consulta, con la información de CDP's registrados en SIIF Nación.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="tipoCDP">
		<xsd:annotation>
			<xsd:documentation>Tipo compuesto que contiene el detalle de información de CDP's</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="listaFiltroConsulta" type="siifepg:tipoListaFiltroConsulta">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo que agrupa el listado de los filtros de consulta.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="listaItemCDP" type="siifepg:tipoListaItemCDP" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo que contiene los ítems de CDP's consultados.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="numRegistro" type="xsd:integer">
				<xsd:annotation>
					<xsd:documentation>Cantidad de registros de CDP's consultados.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoListaItemAfectacion">
		<xsd:annotation>
			<xsd:documentation>Tipo complejo que define una lista de ítems de afectación de la obligación</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="itemAfectacion" type="siifepg:tipoItemAfectacion" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo que contiene el detalle de un ítem de afectación.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoLlistaItemEjecuCDP">
		<xsd:annotation>
			<xsd:documentation>Tipo complejo contenedor de la información de los ítems de ejecución de un CDP</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="itemEjecuCDP" type="siifepg:tipoItemEjecuCDP" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo que contiene el detalle de un ítem de ejecución de un CDP</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoListaItemOperacion">
		<xsd:annotation>
			<xsd:documentation>Tipo complejo contenedor de la información de las operaciones realizadas en un ítem de afectación</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="itemOperacion" type="siifepg:tipoItemOperacion" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo que contiene el detalle de un ítem de operación</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoListaItemCDP">
		<xsd:annotation>
			<xsd:documentation>Tipo complejo que define una lista de  ítems de CDP's</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="itemCDP" type="siifepg:tipoItemCDP" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo que contiene el detalle de un ítem de CDP.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoListaItemReintegro">
		<xsd:annotation>
			<xsd:documentation>Tipo complejo que define una lista de ítems de reintegros.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="itemReintegro" type="siifepg:tipoItemReintegro" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo contenedor del detalle de un ítem de reintegros.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoListaFiltroConsulta">
		<xsd:annotation>
			<xsd:documentation>Tipo complejo que define la lista de filtros de consulta para compromisos presupuestales</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="codPCI" type="siifepg:tipoCodPCI">
				<xsd:annotation>
					<xsd:documentation>Código de la PCI que solicita la ejecución de la consulta.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codPCIConsulta" type="siifepg:tipoCadena250">
				<xsd:annotation>
					<xsd:documentation>Códigos de las PCI consultadas.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="area" type="siifepg:tipoCadena30" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Area, Dirección o sección dentro de la organización que requiere el archivo XML. Este elemento puede ir vacio.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codTipoGasto" type="siifepg:enumCodTipoGasto">
				<xsd:annotation>
					<xsd:documentation>Tipo de gasto consultado</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="saldo" type="siifepg:enumCodTipoSaldo">
				<xsd:annotation>
					<xsd:documentation>Tipo de saldo consultado</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fechaInicio" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Fecha de inicio de la consulta.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fechaFin" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Fecha final de la consulta.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="continuidad" type="siifepg:enumSINO">
				<xsd:annotation>
					<xsd:documentation>Elemento que indica la continuidad de la consulta al cambiar el año fiscal</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoDatosAdminSimple">
		<xsd:annotation>
			<xsd:documentation>Tipo Complejo que agrupa los datos administrativos resumen, que soportan una transacción en el sistema.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="fecha" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Fecha documento soporte</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codTipoDocSoporte" type="siifepg:tipoCadena50">
				<xsd:annotation>
					<xsd:documentation>Código del tipo de documento soporte.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomTipoDocSoporte" type="siifepg:tipoCadena150">
				<xsd:annotation>
					<xsd:documentation>Nombre del tipo de documento soporte.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="numDocSoporte" type="siifepg:tipoCadena50">
				<xsd:annotation>
					<xsd:documentation>Identificador del documento soporte - cadena de máximo 50 caracteres.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="notas" type="xsd:string" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Información que permite ampliar el detalle de los soportes.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoItemAfectacion">
		<xsd:annotation>
			<xsd:documentation>Tipo compuesto que contiene la estructura de un ítem de afectación de la obligación</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="codDepAfectacion" type="siifepg:tipoCadena20">
				<xsd:annotation>
					<xsd:documentation>Código de la Depencia de Afectación.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomDepAfectacion" type="siifepg:tipoCadena100">
				<xsd:annotation>
					<xsd:documentation>Nombre de la Dependencia de Afectación.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codPosicionGasto" type="siifepg:tipoCodPosCatGasto">
				<xsd:annotation>
					<xsd:documentation>Código de la Posición de Gasto.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomPosicionGasto" type="siifepg:tipoCadena250">
				<xsd:annotation>
					<xsd:documentation>Nombre de la Posición de Gasto. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codFuenteFinanciacion" type="siifepg:tipoNumCadena2">
				<xsd:annotation>
					<xsd:documentation>Código de la Fuente de Financiación.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomFuenteFinanciacion" type="siifepg:enumFuenteFinanciacion">
				<xsd:annotation>
					<xsd:documentation>Nombre de la Fuenta de Financiación. NACION - PROPIOS. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codRecursoPptal" type="siifepg:tipoNumCadena2">
				<xsd:annotation>
					<xsd:documentation>Código del Recurso Presupuestal.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomRecursoPptal" type="siifepg:tipoCadena100">
				<xsd:annotation>
					<xsd:documentation>Nombre del Recurso Presupuestal.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codSituacionFondos" type="siifepg:tipoNumCadena2">
				<xsd:annotation>
					<xsd:documentation>Código de la Situación de Fondos.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomSituacionFondos" type="siifepg:enumSituacionFondos">
				<xsd:annotation>
					<xsd:documentation>Nombre de la Situación de Fondos (CSF o SSF).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorInicial">
				<xsd:annotation>
					<xsd:documentation>Valor inicial.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="siifepg:tipoCantidadMonetariaInicial">
						<xsd:minInclusive value="-99999999999999999.99"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="valorActual" type="siifepg:tipoCantidadMonetariaPositiva">
				<xsd:annotation>
					<xsd:documentation>Valor actual.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorOperacion" type="siifepg:tipoCantidadMonetariaPositiva">
				<xsd:annotation>
					<xsd:documentation>Valor de la operación</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="saldoComp" type="siifepg:tipoCantidadMonetariaPositiva">
				<xsd:annotation>
					<xsd:documentation>Saldo por comprometer</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorBloqueado" type="siifepg:tipoCantidadMonetariaPositiva">
				<xsd:annotation>
					<xsd:documentation>Valor bloqueado</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoItemEjecuCDP">
		<xsd:annotation>
			<xsd:documentation>Tipo compuesto que contiene la estructura de un ítem de ejecución de un CDP</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="codCompromiso" type="siifepg:tipoNumDocSIIF" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Código del Compromiso pptal asociado</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codCuentaPagar" type="siifepg:tipoNumDocSIIF" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Código de la Cuenta por pagar asociada</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codObligacion" type="siifepg:tipoNumDocSIIF" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Código de la Obligación pptal asociada</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codOrdenPago" type="siifepg:tipoNumDocSIIF" nillable="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Código de la Orden de Pago asociada</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoItemOperacion">
		<xsd:annotation>
			<xsd:documentation>Tipo compuesto que contiene la estructura de un ítem de operación</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="fecha" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Fecha de la operación</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoItemCDP">
		<xsd:annotation>
			<xsd:documentation>Tipo compuesto que contiene la estructura de un ítem de CDP</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="codPCI" type="siifepg:tipoCodPCI">
				<xsd:annotation>
					<xsd:documentation>Código de la unidad/subunidad ejecutora.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomPCI" type="siifepg:tipoCadena250">
				<xsd:annotation>
					<xsd:documentation>Nombre de la unidad/subnidad ejecutora.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codSolicitudCDP" type="siifepg:tipoNumDocSIIF" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Código de la solicitud de CDP asociada</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codCDP" type="siifepg:tipoNumDocSIIF">
				<xsd:annotation>
					<xsd:documentation>Código que identifica el CDP</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fechaRegistro" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Fecha de registro del CDP</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fechaCreacion" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Fecha de creación del CDP</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codTipoCDP" type="siifepg:enumCodTipoCDP">
				<xsd:annotation>
					<xsd:documentation>Tipo de CDP</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="estado" type="siifepg:tipoCadena20">
				<xsd:annotation>
					<xsd:documentation>Estado en el que se encuentra el CDP</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="objeto" type="siifepg:tipoCadena250" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Objeto o descripción</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="listaItemAfectacion" type="siifepg:tipoListaItemAfectacion" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo contenedor de los ítems de afectación.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="listaItemEjecuCDP" type="siifepg:tipoLlistaItemEjecuCDP" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo contenedor de lista de ejecución del CDP, sus compromisos, obligaciones, cuentas por pagar y órdenes de pago asociadas.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoItemReintegro">
		<xsd:annotation>
			<xsd:documentation>Tipo complejo contenedor del detalle de un ítem de reintegros.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="codReintegro" type="siifepg:tipoNumDocSIIF">
				<xsd:annotation>
					<xsd:documentation>Código del reintegro.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valor" type="siifepg:tipoCantidadMonetariaPositiva">
				<xsd:annotation>
					<xsd:documentation>Valor.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="enumCodTipoGasto">
		<xsd:annotation>
			<xsd:documentation>Códigos que identifican los Tipos de Gasto</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="GASTOS_PERSONAL">
				<xsd:annotation>
					<xsd:documentation>Gastos Personal</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="GASTOS_GENERALES">
				<xsd:annotation>
					<xsd:documentation>Gastos Generales</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TRANSFERENCIAS">
				<xsd:annotation>
					<xsd:documentation>Trasnsferencias</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="COMERCIALIZACION">
				<xsd:annotation>
					<xsd:documentation>Comercialización</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DEUDA">
				<xsd:annotation>
					<xsd:documentation>Deuda</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="INVERSION">
				<xsd:annotation>
					<xsd:documentation>Inversión</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TODOS">
				<xsd:annotation>
					<xsd:documentation>Todas</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="enumCodTipoCDP">
		<xsd:annotation>
			<xsd:documentation>Códigos que identifican los Tipos de CDP</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="GASTO">
				<xsd:annotation>
					<xsd:documentation>Gasto</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MODIFICACION">
				<xsd:annotation>
					<xsd:documentation>Modificacion</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="enumCodTipoSaldo">
		<xsd:annotation>
			<xsd:documentation>Códigos que identifican los Tipos de saldo</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CON_SALDO">
				<xsd:annotation>
					<xsd:documentation>Con saldo</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TODOS">
				<xsd:annotation>
					<xsd:documentation>Todos</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="enumCodTipoVigencia">
		<xsd:annotation>
			<xsd:documentation>Códigos que identifican los Tipos de Vigencias Presupuestales</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ACTUAL">
				<xsd:annotation>
					<xsd:documentation>Actual</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="RESERVAS_PRESUPUESTALES">
				<xsd:annotation>
					<xsd:documentation>Reservas</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CUENTAS_POR_PAGAR">
				<xsd:annotation>
					<xsd:documentation>Cuentas por pagar</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="enumFuenteFinanciacion">
		<xsd:annotation>
			<xsd:documentation>Fuentes de Financiación</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="NACION">
				<xsd:annotation>
					<xsd:documentation>Nación</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PROPIOS">
				<xsd:annotation>
					<xsd:documentation>Propios</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="enumTipoCuentaBancaria">
		<xsd:annotation>
			<xsd:documentation>Tipos de cuenta bancaria</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="AHR">
				<xsd:annotation>
					<xsd:documentation>Cuenta de Ahorros</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CRR">
				<xsd:annotation>
					<xsd:documentation>Cuenta Corriente</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DEL">
				<xsd:annotation>
					<xsd:documentation>Depósito Electrónico</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="enumTipoMedioPago">
		<xsd:annotation>
			<xsd:documentation>Tipos de medio de pago</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="AC">
				<xsd:annotation>
					<xsd:documentation>Abono en Cuenta</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CH">
				<xsd:annotation>
					<xsd:documentation>Cheque</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="GR">
				<xsd:annotation>
					<xsd:documentation>Giro</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TT">
				<xsd:annotation>
					<xsd:documentation>Títulos</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="enumSituacionFondos">
		<xsd:annotation>
			<xsd:documentation>Tipos de Situación de Fondos</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CSF">
				<xsd:annotation>
					<xsd:documentation>Con Situación de Fondos</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SSF">
				<xsd:annotation>
					<xsd:documentation>Sin Situación de Fondos</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="enumSINO">
		<xsd:annotation>
			<xsd:documentation>Opciones SI o NO</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SI">
				<xsd:annotation>
					<xsd:documentation>Respuesta positiva</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NO">
				<xsd:annotation>
					<xsd:documentation>Respuesta Negativa</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="enumTipoGasto">
		<xsd:annotation>
			<xsd:documentation>Tipo simple para representar el Tipo de Gasto</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="A">
				<xsd:annotation>
					<xsd:documentation>Funcionamiento</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="B">
				<xsd:annotation>
					<xsd:documentation>Servicio a la Deuda</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="C">
				<xsd:annotation>
					<xsd:documentation>Inversión</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoNumCadena2">
		<xsd:annotation>
			<xsd:documentation>Extensión de la definición del tipo básico string de la recomendación W3C XML Schema para la longitud máxima de 2 caracteres sólo numéricos</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="2"/>
			<xsd:pattern value="[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCadena20">
		<xsd:annotation>
			<xsd:documentation>Tipo simple cadena de 20 caracteres máximo</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="20"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCadena30">
		<xsd:annotation>
			<xsd:documentation>Extensión de la definición del tipo básico string de la recomendación W3C XML Schema para la longitud máxima de 30 caracteres</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCadena50">
		<xsd:annotation>
			<xsd:documentation>Extensión de la definición del tipo básico string de la recomendación W3C XML Schema para la longitud máxima de 50 caracteres</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCadena100">
		<xsd:annotation>
			<xsd:documentation>Extensión de la definición del tipo básico string de la recomendación W3C XML Schema para la longitud máxima de 100 caracteres</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCadena150">
		<xsd:annotation>
			<xsd:documentation>Extensión de la definición del tipo básico string de la recomendación W3C XML Schema para la longitud máxima de 150 caracteres</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="150"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCadena200">
		<xsd:annotation>
			<xsd:documentation>Tipo simple cadena de 200 caracteres máximo</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="200"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCadena250">
		<xsd:annotation>
			<xsd:documentation>Tipo simple cadena de 250 caracteres máximo</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="250"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCantidadMonetaria">
		<xsd:annotation>
			<xsd:documentation>Tipo simple que contiene las restricciones necesarias para los valores monetarios. El signo de separación de la parte decimal es punto(.)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="20"/>
			<xsd:maxInclusive value="999999999999999999.99"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCantidadMonetariaPositiva">
		<xsd:annotation>
			<xsd:documentation>Tipo simple que contiene las restricciones necesarias para los valores monetarios. El signo de separación de la parte decimal es punto(.) Valores mayores o iguales a cero.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="20"/>
			<xsd:maxInclusive value="999999999999999999.99"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCantidadMonetariaInicial">
		<xsd:annotation>
			<xsd:documentation>Tipo simple que contiene las restricciones necesarias para los valores monetarios. El signo de separación de la parte decimal es punto(.) Valores mayores o iguales a cero.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="20"/>
			<xsd:minInclusive value="-999999999999999999.99"/>
			<xsd:maxInclusive value="999999999999999999.99"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCodPCI">
		<xsd:annotation>
			<xsd:documentation>Código de una unidad o subunidad ejecutora del Presupuesto General de la Nación desde nivel 3 hasta el nivel 5 del clasificador Institucional de SIIF Nación</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="([0-9]{2})+((\-[0-9]{2}){2,3}|(\-[0-9]{2}){2,3}(\-[0-9A-Za-z]{1,6}){1,2})"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCodPosCatGasto">
		<xsd:annotation>
			<xsd:documentation>Tipo simple que contiene las restricciones necesarias para las posiciones del catálogo de Gastos</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-C]+(\-[0-9]{1,8}){1,10}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoNumDocSIIF">
		<xsd:annotation>
			<xsd:documentation>Representa un entero largo (BigInt) con restricción de positivo. Se usa para identificaciones de documentos SIIF, que son enteros positivos largos</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:long">
			<xsd:minExclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
