ComplementApp.API/Dtos/Xsd/tipoListaEjecucionDepAfecta.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:siifepg="http://www.minhacienda.gov.co/mhcp/siifnacion/transferenciaxml/epg" targetNamespace="http://www.minhacienda.gov.co/mhcp/siifnacion/transferenciaxml/epg" version="0.5" id="idTipoConListaEjecucionDepAfecta">
	<xsd:annotation>
		<xsd:documentation>Documento XML esquema contenedor de la estructura de envío de información de Ejecución Presupuestal filtrada por Dependencia de Afectación, desde SIIF Nación</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="ejecucionDepAfecta" type="siifepg:tipoEjecucionDepAfecta">
		<xsd:annotation>
			<xsd:documentation>Elemento complejo que agrupa los elementos de salida de la consulta, con la información de la ejecución presupuestal filtrada por Dependencia de Afectación, registrada en SIIF Nación.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="tipoEjecucionDepAfecta">
		<xsd:annotation>
			<xsd:documentation>Tipo compuesto que contiene el detalle de información de Ejecución Presupuestal filtrada por dependencia de Afectación.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="listaFiltroConsulta" type="siifepg:tipoListaFiltroConsulta">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo que agrupa el listado de los filtros de consulta.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="listaItemAfectacion" type="siifepg:tipoListaItemAfectacion" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo que agrupa los ítems de afectación.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="notas" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Notas sobre las modificaciones presupuestales</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoListaItemDeduccion">
		<xsd:annotation>
			<xsd:documentation>Tipo complejo que define una lista de ítems de deducciones</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="itemDeduccion" type="siifepg:tipoItemDeduccion" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo que contiene el detalle de un ítem de deducciones.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoListaItemAfectacion">
		<xsd:annotation>
			<xsd:documentation>Tipo complejo que define una lista de ítems de afectación</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="itemAfectacion" type="siifepg:tipoItemAfectacion" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo que contiene el detalle de un ítem de afectación</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoListaFiltroConsulta">
		<xsd:annotation>
			<xsd:documentation>Tipo complejo que define la lista de filtros de consulta para obligaciones presupuestales</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="codPCI" type="siifepg:tipoCodPCI">
				<xsd:annotation>
					<xsd:documentation>Código de la PCI que solicita la ejecución de la consulta.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codPCIConsulta" type="siifepg:tipoCadena250">
				<xsd:annotation>
					<xsd:documentation>Códigos de las PCI consultadas.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="area" type="siifepg:tipoCadena20" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Area, Dirección o sección dentro de la organización que requiere el archivo XML.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codPosicionGasto" type="siifepg:tipoCadena250">
				<xsd:annotation>
					<xsd:documentation>Código de la Posición o posiciones de gasto consultadas.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="anoFiscal" type="siifepg:tipoAno">
				<xsd:annotation>
					<xsd:documentation>Año Fiscal consultado.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codTipoVigencia" type="siifepg:enumCodTipoVigencia">
				<xsd:annotation>
					<xsd:documentation>Tipo de vigencia presupuestal</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fechaProceso" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Fecha de realización de la consulta</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoItemDeduccion">
		<xsd:annotation>
			<xsd:documentation>Tipo compuesto que contiene la estructura de un ítem de deducciones</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="codPosPagoNoPptal" type="siifepg:tipoCodPosPagoNoPptal">
				<xsd:annotation>
					<xsd:documentation>Código de la Posición del Catálogo para Pago No Presupuestal.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomPosPagoNoPptal" type="siifepg:tipoCadena100">
				<xsd:annotation>
					<xsd:documentation>Nombre de la Posición del Catálogo para Pago No Presupuestal.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="terceroBeneficiario" type="siifepg:tipoTerceroBasico">
				<xsd:annotation>
					<xsd:documentation>Elemento Complejo contenedor de la información del Tercero Beneficiario.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorDeducir" type="siifepg:tipoCantidadMonetaria">
				<xsd:annotation>
					<xsd:documentation>Valor a deducir.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoItemAfectacion">
		<xsd:annotation>
			<xsd:documentation>Tipo compuesto que contiene la estructura de un ítem de afectación</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="codPCI" type="siifepg:tipoCodPCI">
				<xsd:annotation>
					<xsd:documentation>Código de la unidad/subunidad ejecutora.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomPCI" type="siifepg:tipoCadena250">
				<xsd:annotation>
					<xsd:documentation>Nombre de la unidad/subnidad ejecutora.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codDepAfectacion" type="siifepg:tipoCadena20">
				<xsd:annotation>
					<xsd:documentation>Código de la Dependencia de Afectación de gasto.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomDepAfectacion" type="siifepg:tipoCadena100">
				<xsd:annotation>
					<xsd:documentation>Nombre de la Dependencia de Afectación de gasto.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codPosicionGasto" type="siifepg:tipoCodPosGasto">
				<xsd:annotation>
					<xsd:documentation>Código de la Posición de Gasto.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomPosicionGasto" type="siifepg:tipoCadena250">
				<xsd:annotation>
					<xsd:documentation>Nombre de la Posición de Gasto. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codFuenteFinanciacion" type="siifepg:tipoNumCadena2">
				<xsd:annotation>
					<xsd:documentation>Código de la Fuente de Financiación.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomFuenteFinanciacion" type="siifepg:enumFuenteFinanciacion">
				<xsd:annotation>
					<xsd:documentation>Nombre de la Fuenta de Financiación. NACION - PROPIOS. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codRecursoPptal" type="siifepg:tipoNumCadena2">
				<xsd:annotation>
					<xsd:documentation>Código del Recurso Presupuestal.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomRecursoPptal" type="siifepg:tipoCadena100">
				<xsd:annotation>
					<xsd:documentation>Nombre del Recurso Presupuestal.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codSituacionFondos" type="siifepg:tipoNumCadena2">
				<xsd:annotation>
					<xsd:documentation>Código de la Situación de Fondos.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomSituacionFondos" type="siifepg:enumSituacionFondos">
				<xsd:annotation>
					<xsd:documentation>Nombre de la Situación de Fondos (CSF o SSF).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorApropInicial" type="siifepg:tipoCantidadMonetaria">
				<xsd:annotation>
					<xsd:documentation>Valor de la Apropiación Inicial</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorApropAdicionada" type="siifepg:tipoCantidadMonetaria">
				<xsd:annotation>
					<xsd:documentation>Valor de la Apropiación Adicionada</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorApropReducida" type="siifepg:tipoCantidadMonetaria">
				<xsd:annotation>
					<xsd:documentation>Valor de la Apropiación Reducida</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorCredAprop" type="siifepg:tipoCantidadMonetaria">
				<xsd:annotation>
					<xsd:documentation>Valor Créditos de la apropiación </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorContracredAprop" type="siifepg:tipoCantidadMonetaria">
				<xsd:annotation>
					<xsd:documentation>Valor contracréditos de la apropiación</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorApropVigente" type="siifepg:tipoCantidadMonetaria">
				<xsd:annotation>
					<xsd:documentation>Valor de la Apropiación Vigente</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorApropDisponible" type="siifepg:tipoCantidadMonetaria">
				<xsd:annotation>
					<xsd:documentation>Valor de la Apropiación Disponible</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorCDP" type="siifepg:tipoCantidadMonetaria">
				<xsd:annotation>
					<xsd:documentation>Valor total CDP's</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorCompromiso" type="siifepg:tipoCantidadMonetaria" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Valor compromisos</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorObligacion" type="siifepg:tipoCantidadMonetaria">
				<xsd:annotation>
					<xsd:documentation>Valor obligaciones</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorOrdenPago" type="siifepg:tipoCantidadMonetaria">
				<xsd:annotation>
					<xsd:documentation>Valor de las Órdenes de Pago</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorPago" type="siifepg:tipoCantidadMonetaria">
				<xsd:annotation>
					<xsd:documentation>Valor Pagos realizados</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorModPptalConAprob" type="siifepg:tipoCantidadMonetaria">
				<xsd:annotation>
					<xsd:documentation>Valor modificaciones presupuestales  con aprobación</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorModPptalSinAprob" type="siifepg:tipoCantidadMonetaria">
				<xsd:annotation>
					<xsd:documentation>Valor modificaciones presupuestales  sin aprobación</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoMedioPago">
		<xsd:annotation>
			<xsd:documentation>Tipo complejo contendedor de la estructura de información del Medio de Pago</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="codMedioPago" type="siifepg:enumTipoMedioPago">
				<xsd:annotation>
					<xsd:documentation>Código de Identificación del Medio de Pago.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomMedioPago" type="siifepg:tipoCadena20">
				<xsd:annotation>
					<xsd:documentation>Nombre del Medio de Pago.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="cuentaBancaria" type="siifepg:tipoCuentaBancaria" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo contenedor de la información de la Cuenta Bancaria. Elemento opcional, debe enviarse cuando el código del Medio de Pago es AC (Abono en Cuenta)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoTerceroBasico">
		<xsd:annotation>
			<xsd:documentation>Conjunto de datos que agrupa la información de identificación de un Tercero Básico, obtenida en una consulta </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="nomTercero" type="siifepg:tipoCadena200">
				<xsd:annotation>
					<xsd:documentation>Nombre completo del tercero, nombres y apellidos o razón social según corresponda</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codNaturaleza" type="siifepg:tipoNumCadena2">
				<xsd:annotation>
					<xsd:documentation>Código que identifica la Naturaleza Jurídica del Tercero. Ej: 01 Persona Jurídica Nacional, 02 Persona Jurídica Extranjera, 03 Persona Natural Nacional, 04 Persona Natural Extranjera, 05 Consorcio, 06 Unión Temporal</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomNaturaleza" type="siifepg:tipoCadena150">
				<xsd:annotation>
					<xsd:documentation>Nombre de la Naturaleza jurídica del tercero. Ej: Persona Jurídica Nacional, Persona Jurídica Extranjera, Persona Natural Nacional, Persona Natural Extranjera, Consorcio, Unión Temporal</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codTipoDocumento" type="siifepg:tipoNumCadena2">
				<xsd:annotation>
					<xsd:documentation>Código del tipo de documento de identificación del tercero. Ej: 01 NIT, 02 Otro, 03 Cédula de Ciudadanía, 04 Registro Civil, 05	Tarjeta de Identidad, 06 Pasaporte, 07	Cédula de Extranjería</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomTipoDocumento" type="siifepg:tipoCadena150">
				<xsd:annotation>
					<xsd:documentation>Nombre del tipo de documento de identificación del tercero. Ej: NIT, Otro, Cédula de Ciudadanía, Registro Civil, Tarjeta de Identidad, Pasaporte, Cédula de Extranjería</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="numDocIdentidad" type="siifepg:tipoCadena50">
				<xsd:annotation>
					<xsd:documentation>Número del documento de identificación del tercero.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="digVerificacion" type="siifepg:tipoNumMax1" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Dígito de Verificación del Tercero. Se envía con datos solamente en el caso que el tipo de documento sea NIT</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoCuentaBancaria">
		<xsd:annotation>
			<xsd:documentation>Conjunto de datos que agrupa la información cuenta bancaria de un tercero</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="codTipoCuenta" type="siifepg:enumTipoCuentaBancaria">
				<xsd:annotation>
					<xsd:documentation>Código del tipo de cuenta bancaria</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="numCuenta" type="siifepg:tipoCadena30">
				<xsd:annotation>
					<xsd:documentation>Número de cuenta Bancaria</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nombreEntidad" type="siifepg:tipoCadena150">
				<xsd:annotation>
					<xsd:documentation>Nombre de la Entidad Financiera</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nitEntidad" type="siifepg:tipoNit">
				<xsd:annotation>
					<xsd:documentation>NIT de la Entidad Financiera</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="digVerifEntidad" type="siifepg:tipoNumMax1">
				<xsd:annotation>
					<xsd:documentation>Dígito de Verificación de la Entidad</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="enumCodTipoRegCompromiso">
		<xsd:annotation>
			<xsd:documentation>Códigos que identifican los Tipos de Registro de un Compromiso, en el sistema.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="MANUAL">
				<xsd:annotation>
					<xsd:documentation>Manual</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MASIVO">
				<xsd:annotation>
					<xsd:documentation>Masivo</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="enumCodTipoVigencia">
		<xsd:annotation>
			<xsd:documentation>Códigos que identifican los Tipos de Vigencias Presupuestales</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ACTUAL">
				<xsd:annotation>
					<xsd:documentation>Actual</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="RESERVAS_PRESUPUESTALES">
				<xsd:annotation>
					<xsd:documentation>Reservas</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CUENTAS_POR_PAGAR">
				<xsd:annotation>
					<xsd:documentation>Cuentas por pagar</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="enumFuenteFinanciacion">
		<xsd:annotation>
			<xsd:documentation>Fuentes de Financiación</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="NACION">
				<xsd:annotation>
					<xsd:documentation>Nación</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PROPIOS">
				<xsd:annotation>
					<xsd:documentation>Propios</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="enumTipoCuentaBancaria">
		<xsd:annotation>
			<xsd:documentation>Tipos de cuenta bancaria</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="AHR">
				<xsd:annotation>
					<xsd:documentation>Cuenta de Ahorros</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CRR">
				<xsd:annotation>
					<xsd:documentation>Cuenta Corriente</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DEL">
				<xsd:annotation>
					<xsd:documentation>Depósito Electrónico</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="enumTipoMedioPago">
		<xsd:annotation>
			<xsd:documentation>Tipos de medio de pago</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="AC">
				<xsd:annotation>
					<xsd:documentation>Abono en Cuenta</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CH">
				<xsd:annotation>
					<xsd:documentation>Cheque</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="GR">
				<xsd:annotation>
					<xsd:documentation>Giro</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TT">
				<xsd:annotation>
					<xsd:documentation>Títulos</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="enumSituacionFondos">
		<xsd:annotation>
			<xsd:documentation>Tipos de Situación de Fondos</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CSF">
				<xsd:annotation>
					<xsd:documentation>Con Situación de Fondos</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SSF">
				<xsd:annotation>
					<xsd:documentation>Sin Situación de Fondos</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="enumTipoGasto">
		<xsd:annotation>
			<xsd:documentation>Tipo simple para representar el Tipo de Gasto</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="A">
				<xsd:annotation>
					<xsd:documentation>Funcionamiento</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="B">
				<xsd:annotation>
					<xsd:documentation>Servicio a la Deuda</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="C">
				<xsd:annotation>
					<xsd:documentation>Inversión</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoAno">
		<xsd:annotation>
			<xsd:documentation>Tipo simple para representar valores de años.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoNumMax1">
		<xsd:annotation>
			<xsd:documentation>Extensión de la definición del tipo básico string de la recomendación W3C XML Schema para la longitud máxima de 1 caracter, sólo numérico</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{1}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoNumCadena2">
		<xsd:annotation>
			<xsd:documentation>Extensión de la definición del tipo básico string de la recomendación W3C XML Schema para la longitud máxima de 2 caracteres sólo numéricos</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="2"/>
			<xsd:pattern value="[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoNumMax20">
		<xsd:annotation>
			<xsd:documentation>Tipo simple que define el formato 20 dígitos máximo </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{1,20}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCadena20">
		<xsd:annotation>
			<xsd:documentation>Tipo simple cadena de 20 caracteres máximo</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="20"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCadena30">
		<xsd:annotation>
			<xsd:documentation>Extensión de la definición del tipo básico string de la recomendación W3C XML Schema para la longitud máxima de 30 caracteres</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCadena50">
		<xsd:annotation>
			<xsd:documentation>Extensión de la definición del tipo básico string de la recomendación W3C XML Schema para la longitud máxima de 50 caracteres</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCadena100">
		<xsd:annotation>
			<xsd:documentation>Extensión de la definición del tipo básico string de la recomendación W3C XML Schema para la longitud máxima de 100 caracteres</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCadena150">
		<xsd:annotation>
			<xsd:documentation>Extensión de la definición del tipo básico string de la recomendación W3C XML Schema para la longitud máxima de 150 caracteres</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="150"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCadena200">
		<xsd:annotation>
			<xsd:documentation>Tipo simple cadena de 200 caracteres máximo</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="200"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCadena250">
		<xsd:annotation>
			<xsd:documentation>Tipo simple cadena de 250 caracteres máximo</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="250"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCantidadMonetaria">
		<xsd:annotation>
			<xsd:documentation>Tipo simple que contiene las restricciones necesarias para los valores monetarios. El signo de separación de la parte decimal es punto(.)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="20"/>
			<xsd:maxInclusive value="999999999999999999.99"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCodPCI">
		<xsd:annotation>
			<xsd:documentation>Código de una unidad o subunidad ejecutora del Presupuesto General de la Nación desde nivel 3 hasta el nivel 5 del clasificador Institucional de SIIF Nación</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="([0-9]{2})+((\-[0-9]{2}){2,3}|(\-[0-9]{2}){2,3}(\-[0-9A-Za-z]{1,6}){1,2})"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCodPosGasto">
		<xsd:annotation>
			<xsd:documentation>Tipo simple que contiene las restricciones necesarias para las posiciones del catálogo de Gastos</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-C]+(\-[0-9]{1,8}){1,6}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCodPosPagoNoPptal">
		<xsd:annotation>
			<xsd:documentation>Tipo simple que contiene las restricciones necesarias para las posiciones de pagos no presupuestales</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[1-2]+(\-[0-9]{1,2}){1,6}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoNit">
		<xsd:annotation>
			<xsd:documentation>Tipo simple que define el formato para Nit: Máx 11 digitos</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{8,11}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoNumDocSIIF">
		<xsd:annotation>
			<xsd:documentation>Representa un entero largo (BigInt) con restricción de positivo. Se usa para identificaciones de documentos SIIF, que son enteros positivos largos</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:long">
			<xsd:minExclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
