ComplementApp.API/Dtos/Xsd/tipoListaObligacion.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSpy v2017 rel. 3 sp1 (http://www.altova.com) by FGUTIERR (Ministerio de Hacienda y Crédito Público) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:siifepg="http://www.minhacienda.gov.co/mhcp/siifnacion/transferenciaxml/epg" targetNamespace="http://www.minhacienda.gov.co/mhcp/siifnacion/transferenciaxml/epg" version="2.0" id="idTipoConListaObligacion">
	<xsd:annotation>
		<xsd:documentation>Documento XML esquema contenedor de la estructura de envío de información de Obligaciones Presupuestales, desde SIIF Nación</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="obligacionPptal" type="siifepg:tipoObligacionPptal">
		<xsd:annotation>
			<xsd:documentation>Elemento complejo que agrupa los elementos de salida de la consulta, con la información de obligaciones presupuestales registradas en SIIF Nación.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="tipoCuentaBancaria">
		<xsd:annotation>
			<xsd:documentation>Tipo compuesto que contiene la estructura para definición de una Cuenta Bancaria</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="codTipoCuenta" type="siifepg:enumTipoCuentaBancaria">
				<xsd:annotation>
					<xsd:documentation>Código del tipo de cuenta bancaria</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="numCuenta" type="siifepg:tipoCadena20">
				<xsd:annotation>
					<xsd:documentation>Número de la cuenta bancaria</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="estado" type="siifepg:tipoCadena30">
				<xsd:annotation>
					<xsd:documentation>Estado de la cuenta bancaria</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nitEntidad" type="siifepg:tipoNit">
				<xsd:annotation>
					<xsd:documentation>NIT de identificación de la Entidad Financiera</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nombreEntidad" type="siifepg:tipoCadena50">
				<xsd:annotation>
					<xsd:documentation>Nombre de la Entidad Bancaria</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoObligacionPptal">
		<xsd:annotation>
			<xsd:documentation>Tipo compuesto que contiene el detalle de información de Obligaciones Presupuestales</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="listaFiltroConsulta" type="siifepg:tipoListaFiltroConsulta">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo que agrupa el listado de los filtros de consulta.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="listaItemObligacion" type="siifepg:tipoListaItemObligacion" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo que contiene los ítems de obligaciones  presupuestales consultadas.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoListaItemAfectacion">
		<xsd:annotation>
			<xsd:documentation>Tipo complejo que define una lista de ítems de afectación de la obligación</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="itemAfectacion" type="siifepg:tipoItemAfectacion" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo que contiene el detalle de un ítem de afectación.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoListaItemDeduccion">
		<xsd:annotation>
			<xsd:documentation>Tipo complejo que define una lista de ítems de deducciones</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="itemDeduccion" type="siifepg:tipoItemDeduccion" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo que contiene el detalle de un ítem de deducciones.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoListaItemObligacion">
		<xsd:annotation>
			<xsd:documentation>Tipo complejo que define una lista de  ítems de obligaciones presupuestales</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="itemObligacion" type="siifepg:tipoItemObligacion" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo que contiene el detalle de un ítem de obligación presupuestal.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoListaItemReintegro">
		<xsd:annotation>
			<xsd:documentation>Tipo complejo que define una lista de ítems de reintegros.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="itemReintegro" type="siifepg:tipoItemReintegro" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo contenedor del detalle de un ítem de reintegros.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoListaFiltroConsulta">
		<xsd:annotation>
			<xsd:documentation>Tipo complejo que define la lista de filtros de consulta para obligaciones presupuestales</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="codPCI" type="siifepg:tipoCodPCI">
				<xsd:annotation>
					<xsd:documentation>Código de la PCI que solicita la ejecución de la consulta.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codPCIConsulta" type="siifepg:tipoCadena250">
				<xsd:annotation>
					<xsd:documentation>Códigos de las PCI consultadas.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="area" type="siifepg:tipoCadena30" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Area, Dirección o sección dentro de la organización que requiere el archivo XML. Este elemento puede ir vacio.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codTipoVigencia" type="siifepg:enumCodTipoVigencia">
				<xsd:annotation>
					<xsd:documentation>Tipo de vigencia presupuestal</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fechaInicio" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Fecha de inicio de la consulta.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fechaFin" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Fecha final de la consulta.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="deduccion" type="siifepg:enumSINO">
				<xsd:annotation>
					<xsd:documentation>Elemento que indica si se envían o no deducciones en la consulta.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoDatosAdminSimple">
		<xsd:annotation>
			<xsd:documentation>Tipo Complejo que agrupa los datos administrativos resumen, que soportan una transacción en el sistema.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="fecha" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Fecha documento soporte</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codTipoDocSoporte" type="siifepg:tipoCadena50">
				<xsd:annotation>
					<xsd:documentation>Código del tipo de documento soporte.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomTipoDocSoporte" type="siifepg:tipoCadena150">
				<xsd:annotation>
					<xsd:documentation>Nombre del tipo de documento soporte.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="numDocSoporte" type="siifepg:tipoCadena50">
				<xsd:annotation>
					<xsd:documentation>Identificador del documento soporte - cadena de máximo 50 caracteres.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="notas" type="xsd:string" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Información que permite ampliar el detalle de los soportes.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoDocRelacionObligacion">
		<xsd:annotation>
			<xsd:documentation>Tipo compuesto que contiene el detalle de los elementos relacionados con una Obligación Presupuestal</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="codSolicitudCDP" type="siifepg:tipoNumDocSIIF">
				<xsd:annotation>
					<xsd:documentation>Código de la solicitud de CDP.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codCDP" type="siifepg:tipoNumDocSIIF">
				<xsd:annotation>
					<xsd:documentation>Código del Certificado de Disponibilidad Presupuest.al</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codCompromiso" type="siifepg:tipoNumDocSIIF">
				<xsd:annotation>
					<xsd:documentation>Código del Compromiso Presupuestal.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codCuentaPagar" type="siifepg:tipoNumDocSIIF" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Código de la Cuenta por Pagar.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fechaRegCuentaPagar" type="xsd:date" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Fecha de Registro de la Cuenta por Pagar.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codOrdenPago" type="siifepg:tipoNumDocSIIF" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Código de la Orden de Pago. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="listaItemReintegro" type="siifepg:tipoListaItemReintegro" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo contenedor de la lista de reintegros.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codCompContable" type="siifepg:tipoCadena100" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Código del comprobante contable.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoItemAfectacion">
		<xsd:annotation>
			<xsd:documentation>Tipo compuesto que contiene la estructura de un ítem de afectación de la obligación</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="codDepAfectacion" type="siifepg:tipoCadena20">
				<xsd:annotation>
					<xsd:documentation>Código de la Depencia de Afectación.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomDepAfectacion" type="siifepg:tipoCadena100">
				<xsd:annotation>
					<xsd:documentation>Nombre de la Dependencia de Afectación.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codPosicionGasto" type="siifepg:tipoCodPosCatGasto">
				<xsd:annotation>
					<xsd:documentation>Código de la Posición de Gasto.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomPosicionGasto" type="siifepg:tipoCadena250">
				<xsd:annotation>
					<xsd:documentation>Nombre de la Posición de Gasto. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codFuenteFinanciacion" type="siifepg:tipoNumCadena2">
				<xsd:annotation>
					<xsd:documentation>Código de la Fuente de Financiación.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomFuenteFinanciacion" type="siifepg:enumFuenteFinanciacion">
				<xsd:annotation>
					<xsd:documentation>Nombre de la Fuenta de Financiación. NACION - PROPIOS. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codRecursoPptal" type="siifepg:tipoNumCadena2">
				<xsd:annotation>
					<xsd:documentation>Código del Recurso Presupuestal.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomRecursoPptal" type="siifepg:tipoCadena100">
				<xsd:annotation>
					<xsd:documentation>Nombre del Recurso Presupuestal.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codSituacionFondos" type="siifepg:tipoNumCadena2">
				<xsd:annotation>
					<xsd:documentation>Código de la Situación de Fondos.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomSituacionFondos" type="siifepg:enumSituacionFondos">
				<xsd:annotation>
					<xsd:documentation>Nombre de la Situación de Fondos (CSF o SSF).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorInicial" type="siifepg:tipoCantidadMonetariaPositiva">
				<xsd:annotation>
					<xsd:documentation>Valor inicial.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorOperaciones" type="siifepg:tipoCantidadMonetaria">
				<xsd:annotation>
					<xsd:documentation>Valor operaciones.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorActual" type="siifepg:tipoCantidadMonetariaPositiva">
				<xsd:annotation>
					<xsd:documentation>Valor actual.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="saldoUtilizar" type="siifepg:tipoCantidadMonetariaPositiva">
				<xsd:annotation>
					<xsd:documentation>Saldo por utilizar.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codAtributoContable" type="siifepg:tipoNumCadena2">
				<xsd:annotation>
					<xsd:documentation>Código atributo contable.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomAtributoContable" type="siifepg:tipoCadena100">
				<xsd:annotation>
					<xsd:documentation>Nombre atributo contable.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="listaUsosPpales" type="siifepg:tipoListaUsosPptales">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo contenedor de los usos presupuestales.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:sequence/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoItemDeduccion">
		<xsd:annotation>
			<xsd:documentation>Tipo compuesto que contiene la estructura de un ítem de deducciones</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="codPosPagoNoPptal" type="siifepg:tipoCodPosPagoNoPptal">
				<xsd:annotation>
					<xsd:documentation>Código de la Posición del Catálogo para Pago No Presupuestal.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomPosPagoNoPptal" type="siifepg:tipoCadena250">
				<xsd:annotation>
					<xsd:documentation>Nombre de la Posición del Catálogo para Pago No Presupuestal.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="terceroBeneficiario" type="siifepg:tipoTerceroBasico">
				<xsd:annotation>
					<xsd:documentation>Elemento Complejo contenedor de la información del Tercero Beneficiario.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="baseGravable" type="siifepg:tipoCantidadMonetariaPositiva" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Base Gravable de la deducción</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tarifa" type="siifepg:tipoTarifa" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Porcentaje aplicado a la base gravable.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorDeducir" type="siifepg:tipoCantidadMonetariaPositiva">
				<xsd:annotation>
					<xsd:documentation>Valor a deducir.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoItemObligacion">
		<xsd:annotation>
			<xsd:documentation>Tipo compuesto que contiene la estructura de un ítem de Obligación Presupuestal</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="codPCI" type="siifepg:tipoCodPCI">
				<xsd:annotation>
					<xsd:documentation>Código de la unidad/subunidad ejecutora.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomPCI" type="siifepg:tipoCadena250">
				<xsd:annotation>
					<xsd:documentation>Nombre de la unidad/subnidad ejecutora.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codObligacion" type="siifepg:tipoNumDocSIIF">
				<xsd:annotation>
					<xsd:documentation>Código que identifica la Obligación Presupuestal.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fechaRegistro" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Fecha registrada por el usuario para la obligación presupuestal.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fechaCreacion" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Fecha de creación de la obligación, en el sistema.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="estado" type="siifepg:tipoCadena20">
				<xsd:annotation>
					<xsd:documentation>Estado en el que se encuentra la obligación.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorInicial" type="siifepg:tipoCantidadMonetariaPositiva">
				<xsd:annotation>
					<xsd:documentation>Valor inicial de la obligación.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorActual" type="siifepg:tipoCantidadMonetariaPositiva">
				<xsd:annotation>
					<xsd:documentation>Código que identifica la Obligación Presupuestal.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorDeducciones" type="siifepg:tipoCantidadMonetariaPositiva">
				<xsd:annotation>
					<xsd:documentation>Valor deducciones de la obligación.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorObligNoOrden" type="siifepg:tipoCantidadMonetariaPositiva">
				<xsd:annotation>
					<xsd:documentation>Valor obligado no ordenado</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="terceroBeneficiario" type="siifepg:tipoTerceroBasico">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo contenedor de la información del Tercero Beneficiario.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="medioPago" type="siifepg:tipoMedioPago">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo contenedor de la información del Medio de Pago.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="listaItemAfectacion" type="siifepg:tipoListaItemAfectacion">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo contenedor de los ítems de afectación.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="docRelacion" type="siifepg:tipoDocRelacionObligacion">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo contenedor de la información de documentos relacionados con la obligación.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="listaItemDeduccion" type="siifepg:tipoListaItemDeduccion" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo contenedor de los ítems de deducciones que aplican a la obligación. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="datosAdminCompromiso" type="siifepg:tipoDatosAdminSimple">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo contenedor de los datos administrativos asociados al compromiso relacionado con la obligación.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="datosAdminObligacion" type="siifepg:tipoDatosAdminSimple">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo contenedor de los datos administrativos asociados con la obligación.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoItemReintegro">
		<xsd:annotation>
			<xsd:documentation>Tipo complejo contenedor del detalle de un ítem de reintegros.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="codReintegro" type="siifepg:tipoNumDocSIIF">
				<xsd:annotation>
					<xsd:documentation>Código del reintegro.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valor" type="siifepg:tipoCantidadMonetariaPositiva">
				<xsd:annotation>
					<xsd:documentation>Valor.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoMedioPago">
		<xsd:annotation>
			<xsd:documentation>Tipo complejo contendedor de la estructura de información del Medio de Pago</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="codMedioPago" type="siifepg:enumTipoMedioPago">
				<xsd:annotation>
					<xsd:documentation>Código de Identificación del Medio de Pago.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomMedioPago" type="siifepg:tipoCadena20">
				<xsd:annotation>
					<xsd:documentation>Nombre del Medio de Pago.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="cuentaBancaria" type="siifepg:tipoCuentaBancaria" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo contenedor de la información de la Cuenta Bancaria. Elemento opcional, debe enviarse cuando el código del Medio de Pago es AC (Abono en Cuenta)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoTerceroBasico">
		<xsd:annotation>
			<xsd:documentation>Conjunto de datos que agrupa la información de identificación de un Tercero Básico, obtenida en una consulta </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="nomTercero" type="siifepg:tipoCadena200">
				<xsd:annotation>
					<xsd:documentation>Nombre completo del tercero, nombres y apellidos o razón social según corresponda</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codNaturaleza" type="siifepg:tipoNumCadena2">
				<xsd:annotation>
					<xsd:documentation>Código que identifica la Naturaleza Jurídica del Tercero. Ej: 01 Persona Jurídica Nacional, 02 Persona Jurídica Extranjera, 03 Persona Natural Nacional, 04 Persona Natural Extranjera, 05 Consorcio, 06 Unión Temporal</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomNaturaleza" type="siifepg:tipoCadena150">
				<xsd:annotation>
					<xsd:documentation>Nombre de la Naturaleza jurídica del tercero. Ej: Persona Jurídica Nacional, Persona Jurídica Extranjera, Persona Natural Nacional, Persona Natural Extranjera, Consorcio, Unión Temporal</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codTipoDocumento" type="siifepg:tipoNumCadena2">
				<xsd:annotation>
					<xsd:documentation>Código del tipo de documento de identificación del tercero. Ej: 01 NIT, 02 Otro, 03 Cédula de Ciudadanía, 04 Registro Civil, 05	Tarjeta de Identidad, 06 Pasaporte, 07	Cédula de Extranjería</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomTipoDocumento" type="siifepg:tipoCadena150">
				<xsd:annotation>
					<xsd:documentation>Nombre del tipo de documento de identificación del tercero. Ej: NIT, Otro, Cédula de Ciudadanía, Registro Civil, Tarjeta de Identidad, Pasaporte, Cédula de Extranjería</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="numDocIdentidad" type="siifepg:tipoCadena50">
				<xsd:annotation>
					<xsd:documentation>Número del documento de identificación del tercero. En caso de que el tipo de documento sea NIT, el número llevará el dígito de verificación</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoListaUsosPptales">
		<xsd:annotation>
			<xsd:documentation>Tipo complejo que define una lista de usos presupuestales de item de afectación de la obligación</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="itemUsoPptal" type="siifepg:tipoUsosPptales" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Elemento complejo que contiene el detalle de los usos prespuestales.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoUsosPptales">
		<xsd:annotation>
			<xsd:documentation>Tipo compuesto que contiene la estructura usos prespuestales de la obligación</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="codUsoPptal" type="siifepg:tipoCodPosCatGasto">
				<xsd:annotation>
					<xsd:documentation>Código de la Posición de Gasto.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nomUsoPptal" type="siifepg:tipoCadena250">
				<xsd:annotation>
					<xsd:documentation>Nombre de la Posición de Gasto. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valorUso" type="siifepg:tipoCantidadMonetariaPositiva">
				<xsd:annotation>
					<xsd:documentation>Valor del uso presupuestal.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="enumCodTipoVigencia">
		<xsd:annotation>
			<xsd:documentation>Códigos que identifican los Tipos de Vigencias Presupuestales</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ACTUAL">
				<xsd:annotation>
					<xsd:documentation>Actual</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="RESERVAS_PRESUPUESTALES">
				<xsd:annotation>
					<xsd:documentation>Reservas</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CUENTAS_POR_PAGAR">
				<xsd:annotation>
					<xsd:documentation>Cuentas por pagar</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="enumFuenteFinanciacion">
		<xsd:annotation>
			<xsd:documentation>Fuentes de Financiación</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="NACION">
				<xsd:annotation>
					<xsd:documentation>Nación</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PROPIOS">
				<xsd:annotation>
					<xsd:documentation>Propios</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="enumTipoCuentaBancaria">
		<xsd:annotation>
			<xsd:documentation>Tipos de cuenta bancaria</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="AHR">
				<xsd:annotation>
					<xsd:documentation>Cuenta de Ahorros</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CRR">
				<xsd:annotation>
					<xsd:documentation>Cuenta Corriente</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DEL">
				<xsd:annotation>
					<xsd:documentation>Depósito Electrónico</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="enumTipoMedioPago">
		<xsd:annotation>
			<xsd:documentation>Tipos de medio de pago</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="AC">
				<xsd:annotation>
					<xsd:documentation>Abono en Cuenta</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CH">
				<xsd:annotation>
					<xsd:documentation>Cheque</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="GR">
				<xsd:annotation>
					<xsd:documentation>Giro</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TT">
				<xsd:annotation>
					<xsd:documentation>Títulos</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="enumSituacionFondos">
		<xsd:annotation>
			<xsd:documentation>Tipos de Situación de Fondos</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CSF">
				<xsd:annotation>
					<xsd:documentation>Con Situación de Fondos</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SSF">
				<xsd:annotation>
					<xsd:documentation>Sin Situación de Fondos</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="enumSINO">
		<xsd:annotation>
			<xsd:documentation>Opciones SI o NO</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SI">
				<xsd:annotation>
					<xsd:documentation>Respuesta positiva</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NO">
				<xsd:annotation>
					<xsd:documentation>Respuesta Negativa</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="enumTipoGasto">
		<xsd:annotation>
			<xsd:documentation>Tipo simple para representar el Tipo de Gasto</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="A">
				<xsd:annotation>
					<xsd:documentation>Funcionamiento</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="B">
				<xsd:annotation>
					<xsd:documentation>Servicio a la Deuda</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="C">
				<xsd:annotation>
					<xsd:documentation>Inversión</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoNumCadena2">
		<xsd:annotation>
			<xsd:documentation>Extensión de la definición del tipo básico string de la recomendación W3C XML Schema para la longitud máxima de 2 caracteres sólo numéricos</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="2"/>
			<xsd:pattern value="[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCadena20">
		<xsd:annotation>
			<xsd:documentation>Tipo simple cadena de 20 caracteres máximo</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="20"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCadena30">
		<xsd:annotation>
			<xsd:documentation>Extensión de la definición del tipo básico string de la recomendación W3C XML Schema para la longitud máxima de 30 caracteres</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCadena50">
		<xsd:annotation>
			<xsd:documentation>Extensión de la definición del tipo básico string de la recomendación W3C XML Schema para la longitud máxima de 50 caracteres</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCadena100">
		<xsd:annotation>
			<xsd:documentation>Extensión de la definición del tipo básico string de la recomendación W3C XML Schema para la longitud máxima de 100 caracteres</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCadena150">
		<xsd:annotation>
			<xsd:documentation>Extensión de la definición del tipo básico string de la recomendación W3C XML Schema para la longitud máxima de 150 caracteres</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="150"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCadena200">
		<xsd:annotation>
			<xsd:documentation>Tipo simple cadena de 200 caracteres máximo</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="200"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCadena250">
		<xsd:annotation>
			<xsd:documentation>Tipo simple cadena de 250 caracteres máximo</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="250"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCantidadMonetaria">
		<xsd:annotation>
			<xsd:documentation>Tipo simple que contiene las restricciones necesarias para los valores monetarios. El signo de separación de la parte decimal es punto(.)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="20"/>
			<xsd:maxInclusive value="999999999999999999.99"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCantidadMonetariaPositiva">
		<xsd:annotation>
			<xsd:documentation>Tipo simple que contiene las restricciones necesarias para los valores monetarios. El signo de separación de la parte decimal es punto(.) Valores mayores o iguales a cero.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="20"/>
			<xsd:maxInclusive value="999999999999999999.99"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCodPCI">
		<xsd:annotation>
			<xsd:documentation>Código de una unidad o subunidad ejecutora del Presupuesto General de la Nación desde nivel 3 hasta el nivel 5 del clasificador Institucional de SIIF Nación</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="([0-9]{2})+((\-[0-9]{2}){2,3}|(\-[0-9]{2}){2,3}(\-[0-9A-Za-z]{1,6}){1,2})"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCodPosCatGasto">
		<xsd:annotation>
			<xsd:documentation>Tipo simple que contiene las restricciones necesarias para las posiciones del catálogo de Gastos</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-C]+(\-[0-9]{1,8}){1,6}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoCodPosPagoNoPptal">
		<xsd:annotation>
			<xsd:documentation>Tipo simple que contiene las restricciones necesarias para las posiciones de pagos no presupuestales</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[1-2]+(\-[0-9]{1,2}){1,6}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoNit">
		<xsd:annotation>
			<xsd:documentation>Tipo simple que define el formato para Nit: 11 digitos</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{8,11}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoNumDocSIIF">
		<xsd:annotation>
			<xsd:documentation>Representa un entero largo (BigInt) con restricción de positivo. Se usa para identificaciones de documentos SIIF, que son enteros positivos largos</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:long">
			<xsd:minExclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoTarifa">
		<xsd:annotation>
			<xsd:documentation>Tipo simple que contiene las restricciones necesarias para los valores de tarifa de deducción.El signo de separación de la parte decimal es punto(.) Permitidas 5 posiciones decimales</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="([0-9]{1,12}[.][0-9]{0,5})|([0-9]{1,15})"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
